
.accordion .trigger #checkbox-1,
.accordion .trigger #checkbox-2,
.accordion .trigger #checkbox-3 {
    display: none;
}
.accordion .trigger #checkbox-1:checked + label,
.accordion .trigger #checkbox-2:checked + label,
.accordion .trigger #checkbox-3:checked + label {

}
.accordion .trigger #checkbox-1:checked + label i:before,
.accordion .trigger #checkbox-2:checked + label i:before,
.accordion .trigger #checkbox-3:checked + label i:before {
    transform: translate(5px, 8px) rotate(45deg);
}
.accordion .trigger #checkbox-1:checked + label i:after,
.accordion .trigger #checkbox-2:checked + label i:after,
.accordion .trigger #checkbox-3:checked + label i:after {
    transform: translate(-5px, 8px) rotate(-45deg);
}
.accordion .trigger .checkbox {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    color: #cfa144;
    cursor: pointer;
}
.accordion .trigger .checkbox i {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 20px;
}
.accordion .trigger .checkbox i:before, .accordion .trigger .checkbox i:after {
    position: absolute;
    content: '';
    width: 16px;
    height: 3px;
    background-color: #cfa144;
    transition: transform 250ms ease;
}
.accordion .trigger .checkbox i:before {
    transform: translate(-5px, 8px) rotate(45deg);
}
.accordion .trigger .checkbox i:after {
    transform: translate(5px, 8px) rotate(-45deg);
}
.accordion .trigger .content {
    position: relative;
    max-height: 1px;
    margin-top: 2px;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 1.5;
    background-color: #000;
    transition: max-height 500ms ease-in-out;
    padding-bottom: 0px;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}
.accordion .trigger .content h3 {
    margin: 30px 0 15px 30px;
}
.accordion .trigger .content p {
    margin: 0 30px 30px;
}

#checkbox-1:checked ~ .content,
#checkbox-2:checked ~ .content,
#checkbox-3:checked ~ .content {
    max-height: 350px;
    transition: max-height 500ms ease-in-out;
}
.trigger{
    position: absolute;
    right: 83px;
    background: none;
    top: 25px;
}
.dropdown-item {
    color: #fff;
}
a.dropdown-item:hover {
    color: #000;
}
